@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Serif Display", serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 120px;
}

/* Header Styles  */

header {
  padding: 10px 0;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header-right a {
  color: #36536b;
  text-decoration: none;
  font-weight: 700;
}

.header-right button {
  cursor: pointer;
  font-weight: 700;
  padding: 15px 30px;
  border: none;
  border-radius: 100px;
  background-color: #ba4270;
  color: white;
  box-shadow: 10px 10px 25px -10px #36536b40;
}

.hidden {
  display: none;
}

/* hero-styles */
.hero-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-left h1 {
  color: #36536b;
  font-size: 65px;
  width: 546px;
}

.hero-right img {
  width: 90%;
  position: relative;
  right: -70px;
}

/* breakpoints */
@media screen and (max-width: 992px) {
  .container {
    padding: 0 50px;
  }
  .hero-wrapper {
    flex-direction: column-reverse;
  }

  .hero-right img {
    width: 320px;
  }

  .hero-left h1 {
    text-align: center;
    font-size: 50px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    padding: 0 20px;
  }

  .hidden {
    display: block;
  }

  .header-right a,
  .header-right button {
    display: none;
  }

  .hero-wrapper {
    flex-direction: column-reverse;
  }

  .hero-right img {
    width: 250px;
  }

  .hero-left h1 {
    text-align: center;
    width: 350spx;
    /* height: 128px; */
  }
}
